################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/yubikey-removal-behavior/FileContentIndex
/.vs/yubikey-removal-behavior/v17/.wsuo
/.vs/yubikey-removal-behavior/v17/DocumentLayout.backup.json
/.vs/yubikey-removal-behavior/v17/DocumentLayout.json
/.vs/slnx.sqlite
/bin/x64/Release/net8.0/win-x64
/Build Microsoft Installer/Release
/obj
/.vs/ProjectEvaluation
/.vs/YubiKeyRemovalBehavior/DesignTimeBuild
/.vs/YubiKeyRemovalBehavior/FileContentIndex
/.vs/YubiKeyRemovalBehavior/v17/ResourceExplorer
/.vs/YubiKeyRemovalBehavior/v17
/bin
/.vs/YubiKeyRemovalBehavior/CopilotIndices
/.vs/yubikey-removal-behavior/CopilotIndices/17.14.827.52834
